@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Kumbh+Sans:wght@300&display=swap');

*{
  padding:0;
  margin:0;
  box-sizing: border-box; 
  font-family:Kumbh Sans;
}
:root{
  --blue: #c0e5fa;
}
li{
  padding: 20px;
}
a{
  text-decoration: none;
   color: #4f6e7f;
}
li:hover{
  background-color: var(--blue);
}
nav {
  display: flex;
  height: 100vh;
  background-color: white;
  border-color: white;
}
nav img{
  width: 60%;
  transform: translate(-10%, -20%);
}
nav .title{
 transform: translate(-10%, 20%); 
 color: #4f6e7f;
}
.btn{
  background-color: #93aab6;
  width: 100px;
  color:white;
  font-weight: bold;
  margin: 2px;
}
nav i{
  color: white;
}
hr{
  /*transform: translate(50%,-120px);*/
  transform: translate(50%);
  width: 50%;
}
.button{
  margin: 30px;
}
nav button:nth-child(2)::after{
  content: "See my code";
  display: block;
  position: absolute;
  color: #4f6e7f;
  margin-top:5px;
  margin-left: -10px;
  text-decoration: #4f6e7f;
  font-size: 12px;
}
section h1{
 padding: 30px
}
#Contact {
  margin-top:10px;
}
